<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑角色</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<form class="layui-form layuimini-form" name="form" id="form">
    <div class="layui-form-item">
        <label class="layui-form-label">角色ID</label>
        <div class="layui-input-block">
            <input type="text" name="roleId" id="roleId" lay-verify="required" class="layui-input" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">角色名称</label>
        <div class="layui-input-block">
            <input type="text" name="roleName" id="roleName" lay-verify="required" lay-reqtext="角色名称不能为空"
                   placeholder="请输入角色名称" class="layui-input"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">角色状态</label>
        <div class="layui-input-block">
            <input type="checkbox" class="layui-form-onswitch" name="status" id="status" lay-skin="switch"
                   lay-text="正常|停用">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <textarea name="remark" id="remark" class="layui-textarea" placeholder="请输入备注信息"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>

</form>
<script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="../lib/jquery-3.4.1/jquery.params.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        //回显数据初始化
        $.ajax({
            url: "/system/selectOneSysRole",
            type: "get",
            data: {roleId: $.query.get("roleId")},
            headers: {
                'Content-Type': 'application/json'
            },
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success: function (res) {
                if (res.status == "0") {
                    $("#status").attr('checked', true);
                } else {
                    $("#status").attr('checked', false);
                }
                form.render('checkbox');
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(data.field);
            $.ajax({
                url: "/system/updateSysRoleInfo",
                type: "post",
                data: $("#form").serialize(),
                // dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (res) {
                    if (res.code == "0") {
                        var index = layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                            // 关闭弹出层
                            layer.close(index);
                            window.parent.location.reload();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    } else {
                        layer.msg(res.msg, {icon: 2})
                    }

                }
            });

            return false;
        });

    })
    ;
</script>
</body>
</html>